# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Gitignore settings for ESPHome
/.esphome/
/secrets.yaml

# our local virtual environment
venv/

# ignore MacOS specific files
.DS_Store
