# Secrets file for ESPHome
# Rename this file to secrets.yaml and fill in your values!
#
esphome_wifi_ssid: <Your SSID>
esphome_wifi_pass: <Your WIFI password>
esphome_ota_pass: <Your OTA password>
esphome_api_key: <Your API key>
